*~
build
*.swp
.idea/
Thumbs.db 
.DS_Store 
*.pyc
installer
.RData
.Rhistory
.Rproj
.Rproj.user
log.txt

# Ignore files in data folder
solutions/character_recognition/data/*.csv*
solutions/image_classification_imagenet/data/Inception*
solutions/image_classification_cifar/data/cifar*
solutions/word_prediction_from_char/data/tiny_shakespeare.txt
solutions/neural_artistic_style/data/tmp*.jpg
solutions/neural_artistic_style/data/out.jpg
solutions/neural_artistic_style/data/*.params
